html{
	margin: 0 auto;
	margin-top: 0 auto;
	width: 560px;
	background: lightskyblue;
	height: auto;
	text-align:center;
}

body{
	margin: 0;
  	padding: 0;
  	height: 100%;
}

h1{
	margin: 30px 20px;
	font-size: 28px;
	border-left: 15px solid #8a2be2;
	border-bottom: 3px solid #8a2be2;
	padding: 10px;
	width: 520px;
	text-align:center;
	color: blue;
}

h2{
	text-align:left;
	font-size:18px;
	font-family: meiryo;
}

.center{
	text-align:center;
	margin: 0 auto;
}
.txt{
	display: inline-block;
	text-align:left;
	font-size:15px;
}

.login fieldset{
	text-align:center;
	margin: 0 auto;
	border: 3px solid #000000;
	background:#e6e6fa;
	font-size:20px;
	width:560px;
}
.login legend{
	text-align:left;
	font-size:24px;
}

.login input[type=text]{
	width:410px;
	height:30px;
	font-size:20px;
}

.login input[type=submit]{
	width:150px;
	height:35px;
	font-size:20px;
	
}


section{
	border: 1px solid #cccccc;
}

input[type=radio] {

    transform: scale(1.5);
}

input[type=submit]{
	width:200px;
	height:30px;
	font-size:20px;
}

p{
	text-align:left;
	font-size:20px;
}

table{
	left:10px;
}

#layer{
  display: none;
  position: fixed ;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.60;
  filter: alpha(opacity=60);
} 
#layer_min{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;
} 
#kids_layer img.close{
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.modal_window tr{
  width: 560px;
  list-style-type: none;
}
.modal_window tr td{
  float: left;
    width:265px;

}
.modal_window tr td img{
  border: 0;
  margin: 5px;
}