html{
	margin: 0 auto;
	width: 800px;
	background: lightskyblue;
	height: 1000px;
	text-align:center;
}

body{
	margin: 0;
  	padding: 0;
  	height: 100%;
}

h1{
	  margin: 20px 50px;
	  font-size: 28px;
	  border-left: 10px solid #7BAEB5;
	  border-bottom: 1px solid #7BAEB5;
	  padding: 10px;
	  width: 600px;
	text-align:center;
	color: blue;
}

fieldset{
	text-align:center;
	border: 1px solid #000000;
}

input[type=text]{
	width:410px;
	height:30px;
	font-size:20px;
}

input[type=submit]{
	width:150px;
	height:30px;
	font-size:20px;
	
}

div #tyuui{
	text-align:center;
}

p{
	text-align:left;
	font-size:15px;
}
