html{
	margin: 0 auto;
	width: 800px;
	background: lightskyblue;
	height: 600px;
	text-align:center;
}

body{
	margin: 0;
  	padding: 0;
  	height: 100%;
}

h1{
	margin: 20px 50px;
	font-size: 32px;
	border-left: 15px solid #8a2be2;
	border-bottom: 3px solid #8a2be2;
	padding: 10px;
	width: 600px;
	text-align:center;
	color: blue;
}

.tyuui{
	text-align:center;
	margin: 0 auto;
}
.txt{
	display: inline-block;
	text-align:left;
	font-size:15px;
}

.login fieldset{
	text-align:center;
	border: 3px solid #000000;
	background:#e6e6fa;
	font-size:20px;
}
.login legend{
	text-align:left;
	font-size:24px;
}

.login input[type=text]{
	width:410px;
	height:30px;
	font-size:20px;
}

.login input[type=submit]{
	width:150px;
	height:35px;
	font-size:20px;
	
}


